includes:
    - phpstan-baseline.neon

parameters:
    databaseMigrationsPath:
        - database/migrations
        - vendor/seatplus/connector/database/migrations
    level: 4
    paths:
        - src
        - config
        - database
        - vendor/seatplus/connector/src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false

